.navbutton {
  display: flex;
  width: 250px;
  height: 3em;
  background:	#FFFFF0;
  color: black;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5000px;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-weight:500;
  font-size: 1em;
  margin-right: 10px;
  white-space: normal;

}
