.App {
  text-align: center;
}

text {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.block {
  width: 80%;
  height: 50%;
  background: #0069ed;  
  display: flex;
}

.column {
  width: 1000px;
  height: 500px;
  background:  #0069ed;
  display: flex; 
}
.ratphoto{
  display: flex;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
