
.button-9 {
    display: block;
    width: 100px;
    border: none;
    padding: 1rem 2rem;
    display: inline;
    margin: 10px;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    outline:none;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 200px;
    text-align: center;
    font-size:large;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .button-9:hover,
  .button-9:focus {
    background: #0053ba;
  }
  
  .button-9:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }
  
  .button-9:active {
    transform: scale(0.99);
  }